<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Checkout example · Bootstrap</title>
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.5/examples/checkout/form-validation.css" rel="stylesheet">
    <style>
        body {
            background-image: url('https://cdn.pixabay.com/photo/2018/03/20/22/04/camera-3244872_960_720.jpg');

            background-repeat: no-repeat;
            background-size: cover;
        }

        h1 {
            color: #fff;
        }
    </style>

</head>

<body class="bg-light">
    <div class="container">
        <h1 class="text-center mt-5">Imersão Full Cycle</h1>




    </div>
</body>

</html>